:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Styles for the navigation bar on the index */

.hamburguer-menu {
    display: none;
    margin-right: 1rem;
}

.logo {
    width: 10rem;
}

nav {
    display: flex;

    margin-bottom: 1.4rem;
       
    width: 100%;
    justify-content: space-between;

    border-bottom: .1rem solid var(--very-light-pink);

    padding: 0 2.4rem;
}

.navbar-left, .navbar-right {
    display: flex;
}

.navbar-left ul, .navbar-right ul{
    display: flex;

    height: 6rem;
    align-items: center;

    font-size: var(--md);
    list-style: none;
}

.navbar-left ul li a, .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: .1rem solid var(--white);
    padding: .8rem;
    border-radius: .8rem;
}

.navbar-left ul li a:hover, .navbar-right ul li a :hover{
    color: var(--hospital-green);
    border: .1rem solid var(--hospital-green);
}

.navbar-email {
    position: relative;
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 1.6rem;
}

.navbar-email:hover {
    cursor: pointer;
}

.navbar-shopping-cart div {    
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 10px;
    right: 24px;

    width: 1.5rem;
    height: 1.5rem;
    
    background-color: var(--hospital-green);
    border-radius: 50%;
    
    font-size: var(--sm);
    font-weight: bold;
}

/* styles for the desktop menu */


.desktop-menu {
    position: absolute;
    top: 6rem;
    right: 6rem;

    width: 15rem;
    height: auto;
    padding: 2rem 2rem 0 2rem;

    background: var(--white);
    border: .1rem solid var(--very-light-pink);
    border-radius: .6rem;
}

.desktop-menu ul {
    list-style: none;
    font-size: var(--md);
}

.desktop-menu ul li{
    text-align: end;
    font-weight: bold;
}

.desktop-menu ul li:last-child{
    padding-top: 2rem;
    border-top: .1rem solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 2rem;
    color: var(--black);
}

/* Styles for the menu on mobile devices */


.mobile-menu {
    position: absolute;
    top: 6rem;
    left: 0;

    width: 30rem;
    height: 100vh;
    padding: 2.4rem;

    background-color: var(--white);
    
}

.mobile-menu ul li a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu ul{
    margin-top: 2.4rem;
    font-size: var(--md);
    list-style: none;
}

.mobile-menu ul li {
    margin-bottom: 2.4rem;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: .1rem solid var(--very-light-pink);
}

.bottom-list .email {
    font-size: var(--sm);
    font-weight: 300;
}

.bottom-list .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
}

.bottom-list {
    position: absolute;
    bottom: 9rem;
}

/* styles for the shopping cart */

aside {
    position: absolute;
    top: 6rem;
    display: flex;
    flex-direction: column;
    
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    place-items: center;
}

aside .navbar {
    width: 100%;
    padding: .4rem;

    display: flex;
    align-items: center;

    flex-direction: row;
    justify-content: start;
    
}

aside .navbar img {
    width: 1.6rem;
    height: 1.6rem;

    margin-right: 1.4rem;
    transform: rotate(180deg);
}

aside .navbar h1 {
    font-size: var(--lg);
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

.my-order-content {
    display: flex;
    margin-bottom: 1.6rem;
    width: 85%;
    flex-direction: column;
}

.shopping-cart__item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    margin-bottom: 2.4rem;
    align-items: center;

}

.shopping-cart__item p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    padding: 1.6rem;
}

.shopping-cart__item p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
    margin-right: 1rem;
}

.shopping-cart__item figure img {
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    object-fit: cover;
}

.shopping-cart__item img {
    width: 1.6rem;
    height: 1.6rem;

    margin: .5rem;
}

.stick-to-bottom {
    position: absolute;
    bottom: 6.4rem;
    width: 100%;
    padding: 2.4rem;
    
    background-color: var(--white);
}

.order-total {
    height: 4.8rem;
    width: 100%;
    display: grid;
    padding: 0 2.4rem;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;

    margin-bottom: 2.4rem;
    border-radius: .8rem;
    
    align-items: center;
    
    background-color: var(--text-input-field);

}

.order-total p {
    font-size: var(--md);
    font-weight: bolder;
}

.order-total p:last-child {
    text-align: end;
}

/* Styles for the product details */

.close-product-details {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;

    width: 2.4rem;
    height: 2.4rem;
    padding: .5rem;
    
    border-radius: 50%;
    background-color: var(--white);
}

.close-product-details:hover {
    cursor: pointer;
}

.product-details {
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 2.5rem;

    width: 36rem;
    height: 100vh;
}

.product-img img {
    width: 100%;
    
    border-radius: 1.6rem;
}

.points {
    display: flex;
    align-items: center;
    place-content: center;
    
    width: 100%;
    height: 1rem;
}

.points div {
    width: .5rem;
    height: .5rem;

    margin: 0 .2rem;

    border-radius: 50%;
}

.points div:nth-child(1) {
    background-color: var(--dark);
}

.points div:not(:nth-child(1)) {
    background-color: var(--very-light-pink);
}

.product-information {
    padding: 1rem;
}

.product-information p:nth-child(1) {
    margin-bottom: 1rem;
    
    color: var(--black);
    font-weight: bold;
    size: var(--md);
}

.product-information p:not(:nth-child(1)) {
    color: var(--dark);

    margin-bottom: 1.5rem;
}

.primary-button {
    display: flex;
    width: 100%;

    align-items: center;
    flex-direction: row;
    justify-content: center;

    height: 5rem;
    
    font-size: var(--md);
    font-weight: bold;

    background-color: var(--hospital-green);
    border-radius: .8rem;
    border: none;
    color: var(--white);
    
    cursor: pointer;
}

.primary-button p {
    size: var(--md);
    font-weight: bold;
}

/* styles for the body */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2.6rem;
    place-content: center;
}

.product-card {
    width: 24rem;
}

.product-card img {
    width: 24rem;
    height: 24rem;
    border-radius: 2rem; 
    
    object-fit: cover;
}

.product-info {
    display: flex;
    
    margin-top: 1.6rem;
    justify-content: space-between;
    align-items: center;

}

.product-info figure img {
    width: 3.6rem;
    height: 3.6rem;

}

.product-info p:nth-child(1) {
    margin-top: 0;
    margin-bottom: .4rem;
    font-weight: bold;
    font-size: var(--md);
}

.product-info p:nth-child(2) {
    margin-top: 1.6rem;
    
    color: var(--very-light-pink);
    font-size: var(--sm);
}

.inactive {
    display: none;
}

@media (max-width: 450px) {
    .mobile-menu {
        width: 100%;
    }
}

@media (max-width: 640px) {

    /* styles for the  Navbar */
    .hamburguer-menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }

    /* styles for the desktop menu */

    .desktop-menu {
        display: none;
    }

    /* styles for the body */

    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 14rem);
        gap: 2.6rem;
        place-content: center;

    }

    .product-card {
        width: 14rem;
    }
    
    .product-card img {
        width: 14rem;
        height: 14rem;
        border-radius: 2rem; 
        
        object-fit: cover;
    }
}



@media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }

    aside {
        position: absolute;
        right: 0;
        max-width: 32rem;
    }
}