:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Styles for the navigation bar on the index */

.menu {
    display: none;
}

.logo {
    width: 10rem;
}

nav {
    display: flex;

    margin-bottom: 1.4rem;
       
    width: 100%;
    justify-content: space-between;

    border-bottom: .1rem solid var(--very-light-pink);

    padding: 0 2.4rem;
}

.navbar-left, .navbar-right {
    display: flex;
}

.navbar-left ul, .navbar-right ul{
    display: flex;

    height: 6rem;
    align-items: center;

    font-size: var(--md);
    list-style: none;
}

.navbar-left ul li a, .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: .1rem solid var(--white);
    padding: .8rem;
    border-radius: .8rem;
}

.navbar-left ul li a:hover, .navbar-right ul li a :hover{
    color: var(--hospital-green);
    border: .1rem solid var(--hospital-green);
}

.navbar-email {
    position: relative;
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 1.6rem;
}

.navbar-email:hover {
    cursor: pointer;
}

.navbar-shopping-cart div {    
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 10px;
    right: 24px;

    width: 1.5rem;
    height: 1.5rem;
    
    background-color: var(--hospital-green);
    border-radius: 50%;
    
    font-size: var(--sm);
    font-weight: bold;
}

/* styles for the desktop menu */


.desktop-menu {
    position: absolute;
    top: 6rem;
    right: 6rem;

    width: 15rem;
    height: auto;
    padding: 2rem 2rem 0 2rem;

    background: var(--white);
    border: .1rem solid var(--very-light-pink);
    border-radius: .6rem;
}

.inactive {
    display: none;
}

.desktop-menu ul {
    list-style: none;
    font-size: var(--md);
}

.desktop-menu ul li{
    text-align: end;
    font-weight: bold;
}

.desktop-menu ul li:last-child{
    padding-top: 2rem;
    border-top: .1rem solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 2rem;
    color: var(--black);
}





/* styles for the body */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2.6rem;
    place-content: center;
}

.product-card {
    width: 24rem;
}

.product-card img {
    width: 24rem;
    height: 24rem;
    border-radius: 2rem; 
    
    object-fit: cover;
}

.product-info {
    display: flex;
    
    margin-top: 1.6rem;
    justify-content: space-between;
    align-items: center;

}

.product-info figure img {
    width: 3.6rem;
    height: 3.6rem;

}

.product-info p:nth-child(1) {
    margin-top: 0;
    margin-bottom: .4rem;
    font-weight: bold;
    font-size: var(--md);
}

.product-info p:nth-child(2) {
    margin-top: 1.6rem;
    
    color: var(--very-light-pink);
    font-size: var(--sm);
}

@media (max-width: 640px) {

    /* styles for the menu */
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }

    /* styles for the body */

    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 14rem);
        gap: 2.6rem;
        place-content: center;

    }

    .product-card {
        width: 14rem;
    }
    
    .product-card img {
        width: 14rem;
        height: 14rem;
        border-radius: 2rem; 
        
        object-fit: cover;
    }
}